<a href="https://colab.research.google.com/github/ahsanuamal/ahsanuamal/blob/main/Mengatasi_Outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_load = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv')

# Handling with IQR
Q1 = (df_load[['tenure','MonthlyCharges','TotalCharges']]).quantile(0.25)
Q3 = (df_load[['tenure','MonthlyCharges','TotalCharges']]).quantile(0.75)

IQR = Q3 - Q1
maximum  = Q3 + (1.5*IQR)
print('Nilai Maximum dari masing-masing Variable adalah: ')
print(maximum)
minimum = Q1 - (1.5*IQR)
print('\nNilai Minimum dari masing-masing Variable adalah: ')
print(minimum)

more_than     = (df_load > maximum)
lower_than    = (df_load < minimum)
df_load       = df_load.mask(more_than, maximum, axis=1) 
df_load       = df_load.mask(lower_than, minimum, axis=1)

print('\nPersebaran data setelah ditangani Outlier: ')
print(df_load[['tenure','MonthlyCharges','TotalCharges']].describe())

Nilai Maximum dari masing-masing Variable adalah:
tenure             126.5000
MonthlyCharges     170.6000
TotalCharges      8899.6125
dtype: float64

Nilai Minimum dari masing-masing Variable adalah:
tenure             -61.5000
MonthlyCharges     -44.6000
TotalCharges     -4695.0875
dtype: float64

Persebaran data setelah ditangani Outlier:
            tenure  MonthlyCharges  TotalCharges
count  7014.000000     7087.000000   7098.000000
mean     32.696108       64.995837   2287.957576
std      24.606516       30.133477   2268.788381
min       0.000000        0.000000     19.000000
25%       9.000000       36.100000    402.925000
50%      30.000000       70.450000   1400.700000
75%      56.000000       89.900000   3801.600000
max     126.500000      170.600000   8899.612500