<a href="https://colab.research.google.com/github/ahsanuamal/ahsanuamal/blob/main/Menghapus_kolom_yang_tidak_diperlukan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/data_retail.csv', sep=';')
df['First_Transaction'] = pd.to_datetime(df['First_Transaction']/1000, unit='s', origin='1970-01-01')
df['Last_Transaction'] = pd.to_datetime(df['Last_Transaction']/1000, unit='s', origin='1970-01-01')

# Hapus kolom-kolom yang tidak diperlukan
del df['no']
del df['Row_Num']

# Cetak lima data teratas
print(df.head())

   Customer_ID Product  ... Average_Transaction_Amount Count_Transaction
0        29531   Jaket  ...                    1467681                22
1        29531  Sepatu  ...                    1269337                41
2       141526     Tas  ...                     310915                30
3       141526   Jaket  ...                     722632                27
4        37545  Sepatu  ...                    1775036                25

[5 rows x 6 columns]